:root {
  --branding-color: #d4cfcfdb;
  --primary-color: #6371ba;
  --secondary-color: #fbf9f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --bs-border-radius: 1rem;
}
.navbar {
  padding: 0px;
}
.logo {
  max-width: 80px;
}
.nav-link {
  font-weight: 500;
}
.nav-link:hover {
  color: blue;
  transition: all 100ms ease-in-out;
}
.navbar-nav .nav-link.active {
  color: var(--primary-color);
}
.hero {
  text-align: center;
  background: var(--branding-color);
  margin-top: 50px;
  padding: 120px 80px;
  font-family: var(--default-font-family);
}
lo h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero h1 {
  font-size: 54px;
}
.hero h2 {
  font-size: 46px;
  margin-bottom: 50px;
}
.hero .container {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
}
p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: black;
  margin: 10px;
}
.hero .content {
  font-size: 22px;
  font-weight: 400;
}

.container-all {
  text-align: center;
  background: var(--branding-color);
  margin-top: 50px;
  padding: 120px 80px;
  font-family: var(--default-font-family);
}
.content-container h1 {
  font-size: 50px;
  line-height: 60px;
}
.content-container h2 {
  font-size: 36px;
}

.paragraph {
  font-size: 22px;
  font-weight: 400;
}
.container-all-section img {
  width: 500px;
  height: 500px;
}
.btn-branding {
  background: var(--primary-color);
  border: none;
  border-radius: 15px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 15px 26px;
  margin: 30px auto 60px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.col-sm-6 {
  line-height: 1.5;
  text-align: left;
  padding: 10px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: center;
}
.mt-5 {
  margin-bottom: 3rem;
}
.img-fluid {
  max-width: 80%;
  height: 80%;
}
.contact-details a {
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer {
  margin: auto;
}
footer h4 {
  font-size: 50px;
}
footer .text-muted {
  font-size: 22px;
  font-weight: 400;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin-top: 30px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links:hover {
  color: var(--primary-color);
}
@media (max-width: 768px) {
  .hero p {
    font-size: 22px;
  }
  .hero .content {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 34px;
  }
  .col-sm-6 {
    text-align: center;
    flex: auto;
    width: 100%;
  }
  .hero .container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
@media (max-width: 576px) {
  .content-container h1 {
    font-size: 50px;
  }
  .content-containerh2 {
    font-size: 32px;
  }

  .container-all {
    padding: 60px 10px 10px;
  }
  .container-all .btn-branding {
    margin-bottom: 0px;
  }
  .content-container img {
    max-width: 100%;
    height: 500px;
    object-fit: scale-down;
    margin-bottom: 300px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
  }
  .contact-details a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    overflow-wrap: break-word;
  }
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }
}
