:root {
  --branding-color: #f9dadadb;
  --primary-color: rgb(99, 113, 186);
  --secondary-color: #fbf9f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --bs-border-radius: 1rem;
}
.hero {
  text-align: center;
  background: var(--branding-color);
  margin-top: 50px;
  padding: 120px 80px;
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero h1 {
  font-size: 70px;
}
.hero h2 {
  font-size: 50px;
}
.hero .container {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
}
p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: black;
  margin: 10px;
}
.hero .content {
  font-size: 22px;
  font-weight: 400;
}
.about {
  text-align: center;
  background: var(--branding-color);
  margin-top: 50px;
  padding: 120px 80px;
  font-family: var(--default-font-family);
}
.content-container h1 {
  font-size: 64px;
  line-height: 60px;
}
.content-container h2 {
  font-size: 36px;
}

.paragraph {
  font-size: 22px;
  font-weight: 400;
}
.about-section img {
  width: 500px;
  height: 500px;
}
.btn-branding {
  background: var(--primary-color);
  border: none;
  border-radius: 15px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 15px 26px;
  margin: 30px auto 60px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.col-sm-6 {
  line-height: 1.5;
  text-align: left;
  padding: 10px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: center;
}
.mt-5 {
  margin-bottom: 3rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .hero p {
    font-size: 22px;
  }
  .hero .content {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 34px;
  }
  .col-sm-6 {
    text-align: center;
    flex: auto;
    width: 100%;
  }
  .hero .container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
@media (max-width: 576px) {
  .content-container h1 {
    font-size: 50px;
  }
  .content-containerh2 {
    font-size: 32px;
  }
  .about {
    padding: 60px 10px 10px;
  }
  .about .btn-branding {
    margin-bottom: 0px;
  }
  .content-container img {
    max-width: 100%;
    height: 500px;
    object-fit: scale-down;
    margin-bottom: 300px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
  }
}
