:root {
  --branding-color: #f9dadadb;
  --primary-color: rgb(99, 113, 186);
  --secondary-color: #fbf9f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  text-align: center;
  background: var(--branding-color);
  margin-top: 50px;
  padding: 30px;
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
p {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: black;
  margin: 10px;
}
img {
  flex: 1;
}

.btn-branding {
  background: var(--primary-color);
  border: none;
  border-radius: 15px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 15px 26px;
  margin: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.col-sm-6 {
  line-height: 1.5;
  text-align: left;
  padding: 10px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: center;
}
.mt-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  p {
    font-size: 20px;
  }

  .col-sm-6 {
    flex: auto;
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
